div.semitranswell.page1 {
    background-color:rgba(210,210,210,0.7);
}

div.semitranswell.page2 {
    background-color:rgba(210,210,210,0.7);
}

div.semitranswell.page3 {
    background-color:rgba(210,210,210,0.7);
}

div.carousel {
    font-weight: 400;
}

div.carousel h1.page1 {
    font-size: 100px;
    font-family: 'elfonturban_calligraphyRg';
}

div.carousel h1.page2 {
    font-size: 100px;
    font-family: 'elfonturban_calligraphyRg';
}

div.carousel h1.page3 {
    font-size: 100px;
    font-family: 'elfonturban_calligraphyRg';
}

div.carousel p {
    font-size: 20px;
}

div.carousel a {
    font-size: 42px;
    font-family: 'elfonturban_calligraphyRg';
}


div.carousel .page1 {
    color: #444;
}

div.carousel .page2 {
    color: #ff9200;
}

div.carousel .page3 {
    color: #461361;
}






div.jumbotron p#tagline {
    font-size: 48px;
    font-family: 'elfonturban_calligraphyRg';
}

div.jumbotron h1 {
    font-size: 100px;
    font-family: 'elfonturban_calligraphyRg';
}
div.jumbotron h1 i {
    font-size:72px;
}


.navbar-default .navbar-nav > li > a {
    font-family: 'elfonturban_calligraphyRg';
    font-size: 50px;
}

.navbar-default .navbar-brand {
    font-family: 'elfonturban_calligraphyRg';
    font-size: 32px;
}


/*

=========================================================

 */

body {
    font-size: 18px;
}
a {
    font-size: 18px;
}
pre {
    background-color: #00384C;
    border: 1px solid #005C77;
}

/*
 * blog archives have black background highlighting
 */
li.archive {
    background-color: #000;
}
a {
    /*purp*/
    color: #7924A3;
}
.btn {
    font-size: 14px;
}
