{% extends 'base_map.html' %}

{% block content %}
{% set myslug="basic" %}
{% set mytitle="Basic" %}
{% set mydescr="This is your basic colormap scheme." %}
{% set myjs="
<script type='text/javascript'> 
    var colors5 = ['#602827','#f71d0c','#526f82','#fccaac','#b42313'];
    var colors7 = ['#632a2a','#f7100b','#fcad14','#b41e11','#497085','#fdd6c6','#ef9071'];
    var colors9 = ['#4b7085','#fcad21','#f33946','#f21502','#612a29','#f9c29d','#fedbdc','#fa070a','#b11f13'];
</script>
" %}
{% include '_includes/colormaptemplate.html' %}
{% endblock %}

