
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="bigred" %}
    {% set mytitle="Big Red" %}
    {% set mydescr="Big Red is a theme based on lettering with a nice red-to-blue color gradient. Photograph taken in Lilac Alley in San Francisco's Mission District." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#5f474e','#faa329','#ed120c','#f8c09c','#fedbdb'];
        var colors7 = ['#496f84','#eb5f5c','#862520','#fdad20','#f40f09','#fac6a1','#fedcdc'];
        var colors9 = ['#fed7c7','#b51c0f','#447489','#521f1a','#f29a76','#f72034','#f70e03','#85464c','#fcad14'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    