
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="bigred" %}
    {% set mytitle="Big Red" %}
    {% set mydescr="Big Red is a theme based on lettering with a nice red-to-blue color gradient. Photograph taken in Lilac Alley in San Francisco's Mission District." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#62474e','#fddbdb','#f9a22a','#ed120c','#f8c09e'];
        var colors7 = ['#497286','#fcac11','#f0936f','#652d2d','#fdd6c5','#f6100c','#b31e11'];
        var colors9 = ['#f72134','#497286','#fbc8a4','#fbab0a','#f60e04','#fddcdc','#b21d11','#f19763','#652d2d'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    