

{% extends 'base_map.html' %}

{% block content %}
{% set myslug="bigredbutton" %}
{% set mytitle="Big Red Button" %}
{% set mydescr="Big Red Button is a theme based on lettering with a nice red-to-blue color gradient. Photograph taken in Lilac Alley in San Francisco's Mission District." %}
{% set myjs="
<script type='text/javascript'> 
    var colors5 = [#4f6f83,#fcd2c2,#f3110b,#f9a032,#852621];
    var colors7 = [#f7100c,#4f6f83,#b31f12,#faa32b,#f9c29e,#fedcdc,#612928];
    var colors9 = [#f71f34,#642b2a,#fbc9a3,#f29662,#f70e03,#b41e11,#497086,#fcac0b,#fedcdc];
</script>
" %}
{% include '_includes/colormaptemplate.html' %}
{% endblock %}
