{% extends 'base_map.html' %}

{% set mytitle="CA Counties: Random" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<h2>{{ mytitle }}</h2>

<p>This map demonstrates the use of Leaflet and Leaflet layer styling to visualize information
contained in GeoJSON.</p>

<p>Python is used together with the Census Reporter API to get GeoJSON information 
for each of California's counties. A random number between 0 and 10 is then assigned
to each county, and that random number is used to change the color of each county.
</p>

<p>But why? Because the next step is to use census data, rather than random numbers,
to control the style of the GeoJSON layers.
</p>

<p>More details <a href="http://charlesreid1.com/wiki/Leaflet_Quantile_Map">on the charlesreid1.com wiki</a>.
</p>

<div id="map" style="width:800px;"></div>

<meta id="jinja-site-url" data-siteurl="{{ SITEURL }}"></meta>
<script src="{{ SITEURL }}/theme/js/leaflet.ajax.min.js" type="text/javascript"></script>
<script src="{{ SITEURL }}/carandom.js" type="text/javascript"></script>

<!--
eventually i'd like to use this
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
-->

{% endblock %}


