
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="elif" %}
    {% set mytitle="Else If" %}
    {% set mydescr="Else If is a color scheme of aqua green and blue, together with purple and yellow. This graffiti panel was photographed in Lucky Alley in San Francisco's Mission District." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#2b5658','#758180','#a6c6bc','#3daa9f','#0b181d'];
        var colors7 = ['#355c5d','#080f10','#339a82','#798584','#16313e','#49b5b6','#acc7bc'];
        var colors9 = ['#070d0d','#afccbf','#21424c','#879391','#4ab7b9','#246f6c','#37a188','#102530','#596564'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    