
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="elif" %}
    {% set mytitle="Else If" %}
    {% set mydescr="Else If is a color scheme of aqua green and blue, together with purple and yellow. This graffiti panel was photographed in Lucky Alley in San Francisco's Mission District." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#cee2d8','#6eb6ad','#418d7e','#081416','#21494c'];
        var colors7 = ['#081314','#d9e9e1','#687975','#4ab3a9','#1e4247','#2d8876','#98c1b3'];
        var colors9 = ['#e9f1ec','#637470','#081314','#65c2be','#1d4247','#b7d7c8','#8fad9f','#2b8371','#40ab9e'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    