
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="jaywalk" %}
    {% set mytitle="jaywalking" %}
    {% set mydescr="Jaywalking is a theme from the Heart of the Mission mural at the 24th Bart station in San Francisco's Mission District." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#658559','#292d21','#c7aa5c','#b24923','#f3eadd'];
        var colors7 = ['#789d6a','#d5c9a0','#21291f','#b64323','#cf9940','#584d30','#fef8f9'];
        var colors9 = ['#c67a2f','#ba3a21','#ccb158','#fef8f9','#20291f','#78a070','#4f6541','#67321d','#d7cca6'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    