
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="jaywalk" %}
    {% set mytitle="jaywalking" %}
    {% set mydescr="Jaywalking is a theme from the heart of the mission mural at the 24th bart station in san francisco's mission district." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#c4ad60','#f3ebde','#b44b24','#292c20','#628156'];
        var colors7 = ['#b94623','#d5c9a1','#749b6a','#ce9e43','#212a20','#5c4b2e','#fef8f9'];
        var colors9 = ['#f3eadd','#202018','#21382c','#69321d','#7ba677','#cdab58','#747244','#c04e24','#3d6040'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    