

{% extends 'base_map.html' %}

{% block content %}
{% set myslug="thejacka" %}
{% set mytitle="The Jacka" %}
{% set mydescr="The Jacka is based on a predominantly purple, green, and black graffiti panel. Photograph taken in Cypress Alley in San Francisco's Mission District." %}
{% set myjs="
<script type='text/javascript'> 
    var colors5 = [#1e864e,#6b4469,#baa383,#141015,#9a9d0a];
    var colors7 = [#7c5083,#583e49,#1d884e,#2a2625,#bca383,#9b9e0a,#100b11];
    var colors9 = [#057f79,#ab9c1b,#b3b5b0,#806b8b,#1a151c,#6c3967,#478817,#3a3230,#0d090f];
</script>
" %}
{% include '_includes/colormaptemplate.html' %}
{% endblock %}
