
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="thejacka" %}
    {% set mytitle="The Jacka" %}
    {% set mydescr="The Jacka is based on a predominantly purple, green, and black graffiti panel. Photograph taken in Cypress Alley in San Francisco's Mission District." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#97a303','#465c57','#140f14','#c28b4a','#a6a3aa'];
        var colors7 = ['#282424','#bca483','#7b5083','#573e47','#0f0b11','#1d884e','#9b9e0a'];
        var colors9 = ['#478817','#2b2726','#98988d','#aa9c1a','#100c12','#babeba','#7e4883','#05807a','#593c51'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    