
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="theride" %}
    {% set mytitle="The Ride" %}
    {% set mydescr="The Ride is a green-and-orange theme from a mural on 24th Street in San Francisco's Mission District." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#514a31','#d6b983','#938357','#1e150f','#efebe5'];
        var colors7 = ['#625b3c','#c4beaf','#160f0b','#ecb965','#f2eee9','#978b60','#3e3323'];
        var colors9 = ['#d5cdbf','#120c09','#eab762','#8d6f4e','#382a1e','#f4f0eb','#a9a18c','#555235','#7aa547'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    