
    
    {% extends 'base_map.html' %}
    
    {% block content %}
    {% set myslug="zero" %}
    {% set mytitle="Zero" %}
    {% set mydescr="Zero is the color scheme that gave birth to the entire idea of colorbomb. The mural has a nice purple-to-silver gradient, as well as complementary shades of blue and green. This mural is from Lilac Alley in San Francisco's Mission District in 2014. This mural has since been painted over." %}
    {% set myjs="
    <script type='text/javascript'> 
        var colors5 = ['#284865','#9699a8','#0b6ca4','#2e2a26','#141310'];
        var colors7 = ['#6f6f7e','#a5a9b7','#1a6505','#10476e','#32262d','#0b70aa','#151311'];
        var colors9 = ['#432d34','#a8aab8','#0d5482','#196505','#241d1f','#0b74b0','#717586','#0f0f0c','#153753'];
    </script>
    " %}
    {% include '_includes/colormaptemplate.html' %}
    {% endblock %}
    