{#
all pages have the jumbotron. uniform look and feel.
#}

{% if output_file=='REMOVETHISTOPUTTHECAROUSELBACKINTHEINDEXFILEindex.html' %}

    {% include '_includes/carousel.html' %}

{% else %}

<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-bomb"></i>&nbsp;{{ SITENAME }}</h1>
        <!--
        <h1>{{ SITENAME }}&nbsp;<i class="fa fa-leaf"></i></h1>
        -->
        <p id="tagline">{{ SITETAGLINE }}</p>
        <p>&nbsp;</p>
    </div>
</div>

{% endif %}
